@charset "utf-8";

/****** Loading ******/
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000C5;
  z-index: var(--zIndex-1);
  display: flex; /* Flexbox 사용 */
  align-items: center;
  justify-content: center; 
}

.hidden {
  display: none;
}

.loading-screen .logo-open {
  /* display: flex; */
  /* gap: 5.5px; */
}

.loading-screen .logo-open img:not(:nth-child(7)) {
  margin-right: 5px; /* 7번째 이미지 제외 */
}

.loading-screen .logo-open img:nth-child(7) {
  margin-right: -1px; /* 7 - 8번째 이미지 */
}

.loading-screen .logo-open img {
  height: 120px;
  width: auto;
  object-fit: contain;
}

.content {
  width: 100%;
  position: relative;
  z-index: 9999999999; /* 로딩 화면 위에 위치하도록 설정 + header 수정 */
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  visibility: hidden;
}

/* 이벤트 부분 */
@keyframes slideDown {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.loading-screen .logo-open img {
  opacity: 0;
  animation: slideDown 0.7s forwards;
}
.loading-screen .logo-open img:nth-child(1) { animation-delay: 0.1s; }
.loading-screen .logo-open img:nth-child(2) { animation-delay: 0.15s; }
.loading-screen .logo-open img:nth-child(3) { animation-delay: 0.2s; }
.loading-screen .logo-open img:nth-child(4) { animation-delay: 0.25s; }
.loading-screen .logo-open img:nth-child(5) { animation-delay: 0.3s; }
.loading-screen .logo-open img:nth-child(6) { animation-delay: 0.35s; }
.loading-screen .logo-open img:nth-child(7) { animation-delay: 0.4s; }
.loading-screen .logo-open img:nth-child(8) { animation-delay: 0.45s; }
.loading-screen .logo-open img:nth-child(9) { animation-delay: 0.5s; }


/****** index main vedio ******/
.index-main {
  position: relative;
  width: 100%;
  height: 80vh;
}

.index-main .youtube {
  position: absolute;
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}

.index-main .index-main-text h2 {
  position: absolute;
  font-family: var(--primary-font-en);
  font-size: 130px;
  color: var(--color-w);
  top: 20%;
  line-height: var(--lineHeight-lg);
  font-weight: var(--weight-lg);
  margin-left: 120px;
}

.index-main .index-main-text span {
  display: block;
}

.index-main .index-main-text p {
  position: absolute;
  color: var(--color-w);
  width: 500px;
  font-size: var(--size-xl);
  font-family: var(--primary-font-ko);
  line-height: var(--lineHeight-md);

  opacity: 0;
  transition: opacity 0.6s ease-in-out 0.3s;
}
.index-main .index-main-text p.show {
  opacity: 1;
}

.index-main .index-main-text p:first-of-type {
  top: 52%;
  right: 7%;
}
.index-main .index-main-text p:last-of-type {
  top: 70%;
  right: 7%;}


/****** index main Bottom ******/
/****** 곡선 > 직선 이벤트 ******/
.index-mainBtm-wrapper {
  position: absolute;
  top: 950px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.index-mainBtm-shape {
  width: 100%;
  height: 350px;
  background: var(--color-b);
  border-radius: 150% 150% 0 0;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


/****** index collabo brand list ******/
.index-collab {
  height: 50vh;
  background-color: var(--color-b);
  margin-top: 190px;

  position: relative;
  z-index: var(--zIndex-4);
}

/****** index collaboration horizontal lookbook ******/
/****** 가로 스크롤 ******/
.index-collabo-horizontal {
  overflow-x: hidden;
}

.index-collab h3 {
  color: var(--color-w);
  text-align: center;
  font-size: 40px;
  font-weight: var(--weight-sm);
  font-family: var(--primary-font-en);
  padding-top: 100px;
}

.index-collab .index-collab-brand {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  cursor: pointer;
}

.index-collab-wrapper {
  width: 300vw;
  height: 100vh;
  background-color: var(--color-b);
  color: var(--color-w);
  display: flex;
}

.index-collabo-horizontal .index-collab-wrapper h2 {
  font-size: 50px;
  font-weight: var(--weight-md);
  margin-left: 120px;
  /* margin-right: 50px; */
  font-family: var(--primary-font-en);
  text-wrap: nowrap;
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontaltext {
  padding-top: 350px;
}

.index-collabo-horizontal .index-collab-wrapper p {
  font-family: var(--primary-font-en);
  font-size: 50px;
  margin-left: 120px;
  font-weight: var(--weight-md);
}

.index-collabo-horizontal .index-collab-wrapper p span {
  display: inline-block;
  border: 3px solid var(--color-w);
  padding: 5px 10px;
  border-radius: 20px;
  transform: rotate(-5deg);
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 {
  display: flex;
  width: 100vw;
  gap: 40px;
  overflow: hidden;
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 img {
  margin-top: 100px;
  width: 420px;
  object-fit: cover;
  opacity: 0.6;
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 img:hover {
  transition: 0.8s;
  transform: scale(1.1);
  opacity: 1;
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .text {
  position: absolute;
  top: 35%;
  z-index: var(--zIndex-5);
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .index-text-margin {
  padding-top: 60vh;
  margin-left: -80px;
}

/****** index product list ******/
.index-productlist-wrapper {
  width: 100%;
  height: 2550px;
}

.index-productlist-wrapper h2 {
  text-align: center;
  font-family: var(--primary-font-en);
  font-size: 70px;
  margin-top: 130px;
}

.index-productlist-wrapper .collection {
  width: 33vw;
  text-align: center;
  margin: 40px auto 0;
  font-family: var(--primary-font-ko);
  font-size: var(--size-lg);
  font-weight: var(--weight-md);
  line-height: var(--lineHeight-md);
}

.index-productlist-wrapper .index-productlist-container {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  gap: 5%;
  justify-content: center;
  margin-top: 115px;
}

.speakerimg {
  width: 40vw;
  height: 40vw;
  border-radius: 50px;
  overflow: hidden;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 a {
  text-align: center;
  display: block;
  line-height: var(--lineHeight-xxl);
  font-size: 30px;
  font-family: var(--primary-font-en);
  font-weight: var(--weight-lg);
}
.index-productlist-wrapper .index-productlist-container .index-product-list1 .productname {
  margin-top: 25px;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product {
  display: block;
  aspect-ratio: 1/1;
  width: 40vw;
  height: 40vw;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product img {
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product img:hover {
  transform: scale(1.3);
  transition: 1s;
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 {
  margin-top: 60px;
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 a {
  display: block;
  text-align: center;
  line-height: var(--lineHeight-xxl);
  font-size: 30px;
  font-family: var(--primary-font-en);
  font-weight: var(--weight-lg);
}
.index-productlist-wrapper .index-productlist-container .index-product-list2 .productname {
  margin-top: 25px;
}
.index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product {
  display: block;
  aspect-ratio: 1/1;
  width: 40vw;
  height: 40vw;
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product img {
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: bottom; */
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product .bag {
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product img:hover {
  transform: scale(1.3);
  transition: 2s;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product .converse {
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

/****** index zoom in ******/
.zoom-in {
  background-color: var(--color-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}
.zoom-in .logo {
  width: 60%;
  /* transition: transform 0.3s ease;  */
}
.slogan {
  text-align: center;
  font-family: var(--primary-font-ko);
  font-size: var(--size-xxl);
  font-weight: var(--weight-md);
  line-height: var(--lineHeight-nm);
  color: var(--color-w);
  background-color: var(--color-main);
  margin: var(--primary-center);
  height: 70vh; 
}
.slogan .slogan-wrapper {
  /* transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1); */
  opacity: 0.5;
}
.slogan .slogan-wrapper p {
  padding: 20px 0;
}
.slogan .slogan-wrapper p span {
  display: block;
}

/****** index 3d video ******/
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
.index-3d-video  {
  background-color: var(--color-main);
  padding: 10vh 0 60vh;
}
.index-3d-video .slide-wrapper {
  width: 100%;
  margin-bottom: 250px;
  padding: 10px 0;
  color: var(--color-w);
  font-weight: var(--weight-lg);
  font-family: var(--primary-font-en);
  font-size: 60px;
  overflow: hidden;
  box-shadow: 0 0 20px var(--color-w);
}
.index-3d-video .slide-wrapper .slide-track {
  width: 300%;
  display: flex;
  animation: scroll 40s linear infinite;
}
.index-3d-video .slide-wrapper .slide-track p {
  text-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
}
.index-3d-video .container {
  margin: 100px auto;
  width: 400px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  transition: 0.3s;
}

.index-3d-video #carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}

.index-3d-video #carousel figure {
  display: block;
  position: absolute;
  width: 380px;
  height: 215px;
  left: 10px;
  top: 10px;
  overflow: hidden;
}

.index-3d-video #carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(550px);
}


.index-3d-video iframe {
  cursor: pointer;
  transition: all .5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/****** index maggzine ******/
.index-magazine {
  position: relative;
  padding: 0;
  overflow: hidden;
  margin-bottom: 200px;
  z-index: var(--zIndex-7);
}
.index-magazine .index-magazine-container{
  overflow: hidden;
  position: sticky;
}
.index-magazine .grid-img-wrapper img {
  vertical-align: middle;
  width: 100%;
}
.index-magazine .grid-img-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1.6fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
}
.index-magazine .grid-img-wrapper .img1 {
  height: 100%;
  object-fit: cover;
}
.index-magazine .grid-img-wrapper .img2 {
  z-index: var(--zIndex-3);
  grid-column:2 /3 ;
  grid-row: 1 / 3;
}
.index-magazine .grid-img-wrapper .img3 {
  z-index: var(--zIndex-5); 
  grid-column: 3/ 5;
  height: 100%;
  object-fit: cover;
}
.index-magazine .grid-img-wrapper .img4 {
  z-index: var(--zIndex-3);
}
.index-magazine .grid-img-wrapper .img5 {
  grid-column: 3/4;
  grid-row: 2/3;
  z-index: var(--zIndex-3);
}
.index-magazine .grid-img-wrapper .img6 {
  align-self: end;
  z-index: var(--zIndex-3);
}

.index-magazine .lSymbolLogo {
  position: absolute;
  bottom: -100px;
  left: 100px;
  transform: rotate(15deg);
  z-index: var(--zIndex-5);
  width: 30vw;
}
.index-magazine .sSymbolLogo {
  z-index: var(--zIndex-4);
  position: absolute;
  bottom: 12vw;
  right: 3vw;
  transform: rotate(-20deg);
  width: 15vw;
  
}
.index-magazine .textLogo {
  position: absolute;
  bottom: 100px;
  right: 50px;
  z-index: var(--zIndex-2);
  width: 50vw;
}
@media screen and (max-width:1800px){

  /***** index main video *****/
 .index-main{
    overflow: hidden;
    height: 1000px;
  }
  .index-main .youtube {
    width:2000px;
  }
.index-main .index-main-text h2{
    font-size: 100px;
    top:25%;
    margin-left:80px;
  }
  .index-main .index-main-text p{
    font-size: var(--size-lg);
    width:350px;
  }
  .index-main .index-main-text p:first-of-type {
    top: 30%;
    right:80px;
  }
  .index-main .index-main-text p:last-of-type {
    top:50%;
    right:80px;
  }
}

/************************************ tb ************************************/
@media screen and (max-width:1100px){
  /***** Loading *****/
  .loading-screen {
    display: none;
  }

  /***** index main video *****/
  .index-main{
    overflow: hidden;
    height: 1000px;
  }
  .index-main .youtube {
    width:2000px;
  }
  .index-main .index-main-text h2{
    font-size: 100px;
    top:23%;
    margin-left:20px;
  }
  .index-main .index-main-text p{
    font-size: var(--size-lg);
    width:350px;
  }
  .index-main .index-main-text p:first-of-type {
    top: 30%;
    right:20px;
  }
  .index-main .index-main-text p:last-of-type {
    top:48%;
    right:20px;
  }

  /***** index product list *****/
  .index-productlist-wrapper {
    height: auto;
  }
  .index-productlist-wrapper .index-productlist-container {
    padding-bottom: 230px;
  }
  .index-productlist-wrapper .collection {
    width: auto;
    max-width: 500px;
    padding: 0 40px;
  }
  
  /****** index zoom in ******/
  .zoom-in {
    display: none;
  }
  .slogan {
    height: auto;
  }
  .slogan .slogan-wrapper {
    opacity: 1;
    padding: 120px 0 200px;
  }
  .slogan .slogan-wrapper p span {
    display: inline;
  }
  .slogan .slogan-wrapper p {
    padding: 0 40px;
    font-size: var(--size-xl);
    max-width: 700px;
    margin: var(--primary-center);
  }
  /****** index 3d video ******/
  /* slide txt */
  .index-3d-video  {
    padding: 10vh 0 20vh;
  }
  .index-3d-video .slide-wrapper {
    margin-bottom: 100px;
    box-shadow: 0 0 15px var(--color-w);
    font-size: 40px;
  }
  .index-3d-video .slide-wrapper {
    width: 100%;
    overflow: hidden;
  }
  /* 3d video */
  .index-3d-video .slide-wrapper {
    margin-bottom: 250px;
  }
  .index-3d-video .container {
    width: 320px;
  }
  
  .index-3d-video #carousel figure {
    width: 300px;
    height: 169px;
  }
  
  .index-3d-video #carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(470px);
  }
  
  .index-3d-video #carousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(470px);
  }
  
  .index-3d-video #carousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(470px);
  }
  
  .index-3d-video #carousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(470px);
  }
  
  .index-3d-video #carousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(470px);
  }
  
  .index-3d-video #carousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(470px);
  }
  
  .index-3d-video #carousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(470px);
  }
  
  .index-3d-video #carousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(470px);
  }
  
  .index-3d-video #carousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(470px);
  }
}

/************************************ mo ************************************/
@media screen and (max-width:430px){
  /***** Loading *****/
  .loading-screen {
    display: none;
  }

  /***** index main video *****/
  .index-main{
    overflow: hidden;
    height: 920px;
  }
  .index-main .youtube {
    width:2000px;
  }
  .index-main .index-main-text h2{
    font-size: 70px;
    top: 8%;
    margin-left: 20px;
    line-height: 1.1;
  }
  .index-main .index-main-text p{
    font-size: var(--size-lg);
    width: 390px;
  }
  .index-main .index-main-text p:first-of-type {
    line-height: 1.7;
    top: 46%;
    left: 20px;
  }
  .index-main .index-main-text p:last-of-type {
    line-height: 1.7;    
    top: 61%;
    left: 20px;
  }

  /****** index mainBtm ******/
  .index-mainBtm-wrapper {
    top: 1075px;
  }
  .index-mainBtm-shape {
    width: 100%;
    height: 250px;
    background: #000;
    border-radius: 120% 120% 0 0;
  }

  /****** index collabo ******/
  .index-collab {
    height: 330px;
    overflow: hidden;
    margin-top: 0;
  }
  .index-collab h3 {
    padding-top: 20px;
  }
  .index-collab .index-collab-brand {
    margin-top: 45px;
    width: 100%;
  }
  .index-collab img {
    position: relative;
    right: 330px;
    margin-right: 70px;
    height: 50%;
  }

  /****** index collaboration horizontal lookbook ******/

   .index-collab-wrapper {
    flex-direction: column;
    width:100vw;
    margin: 0;
    height: 100%;
  }
  .index-collabo-horizontal {
    position: relative;
  }
  .index-collabo-horizontal .index-collab-wrapper h2 {
    font-size: var(--size-xl);
    font-weight: var(--weight-md);
    margin-left:0;
    margin-bottom: 5px;
    opacity: 0.8;
  }
  .index-collabo-horizontal .index-collab-wrapper p {
    font-size: var(--size-xl);
    margin-left: 0;
    opacity: 0.8;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontaltext {
    padding-top: 280px;
    position: absolute;
    z-index: var(--zIndex-3);
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 {
    padding:20px;
    gap:25px;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .imgsmall{
    width: 100px;
    margin-top: 0px;
    opacity: 0.8;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .imgbig{
    width:163px;
    margin: 0;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .index-text-margin {
    display: none;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .text{
    display: none;
  }
  
  /***** index product list *****/
  .index-productlist-wrapper .collection {
    width: 100%;
  }
  .index-productlist-wrapper {
    height: auto;
  }
  .index-productlist-wrapper h2 {
    font-weight: var(--weight-md);
    margin-top: 60px;
    font-size: 40px;
  }
  .index-productlist-wrapper .collection {
    margin: 25px 0 70px; 
    width: auto;
    line-height: 1.5;
  }
  .index-productlist-wrapper .index-productlist-container {
    margin: 0;
    display: block;
    padding-bottom: 0;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list1, .index-product-list2{
    width: 100%;
    padding: 0 20px;
  }
  .index-productlist-wrapper .speakerimg {
    width: 100%;
    height: 100%;
  } 
  .index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product {
    width: 100%;
    height: 100%;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product {
    width: 100%;
    height: 100%;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list2 {
    margin: 0;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list1 .productname {
    margin: 0;
    margin-bottom: 40px;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list2 .productname {
    margin: 0;
    margin-bottom: 50px;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list2 a {
    font-size: var(--size-xxl);
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list1 a {
    font-size: var(--size-xxl);
  }
  /****** index zoom in ******/
  .zoom-in {
    display: none;
  }
  .slogan {
    height: auto;
  }
  .slogan .slogan-wrapper {
    opacity: 1;
  }
  .slogan .slogan-wrapper p {
    padding: 0 40px;
    font-size: var(--size-lg);
  }
  .slogan .slogan-wrapper p span {
    display: inline;
  }
  
  /****** index 3d video ******/
  .index-3d-video .slide-wrapper {
    margin-bottom: 100px;
    font-size: var(--size-lg);
  }
  .index-3d-video .container {
    width: 220px;
  }
  
  .index-3d-video #carousel figure {
    width: 200px;
    height: 113px;
  }
  
  .index-3d-video #carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
  }

  .index-3d-video #carousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
  }
  
}
