@charset "utf-8";

/****** index main vedio ******/
.index-main {
  position: relative;
  width: 100%;
  height: 80vh;
}

.index-main .youtube {
  position: absolute;
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}

.index-main .index-main-text h2 {
  position: absolute;
  font-family: 'Jost',sans-serif;
  font-size: 130px;
  color: #fff;
  top: 20%;
  line-height: 1.05;
  font-weight: 700;
  margin-left: 120px;
}

.index-main .index-main-text span {
  display: block;
}

.index-main .index-main-text p {
  position: absolute;
  color: #fff;
  width: 500px;
  font-size: 20px;
  font-family: 'pretendard',sans-serif;
  line-height: 1.7;

  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.2s;
}
.index-main .index-main-text p.show {
  opacity: 1;
}

.index-main .index-main-text p:first-of-type {
  top: 52%;
  right: 7%;
}
.index-main .index-main-text p:last-of-type {
  top: 70%;
  right: 7%;}


/****** index main Bottom ******/
/****** 곡선 > 직선 이벤트 ******/
.index-mainBtm-wrapper {
  position: absolute;
  top: 950px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.index-mainBtm-shape {
  width: 100%;
  height: 350px;
  background: #000;
  border-radius: 150% 150% 0 0;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


/****** index collabo brand list ******/
.index-collab {
  height: 50vh;
  background-color: #000;
  margin-top: 190px;

  position: relative;
  z-index: 9999;
}

/****** index collaboration horizontal lookbook ******/
/****** 가로 스크롤 ******/
.index-collabo-horizontal {
  overflow-x: hidden;
}

.index-collab h3 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Jost',sans-serif;
  padding-top: 100px;
}

.index-collab .index-collab-brand {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  cursor: pointer;
}

.index-collab-wrapper {
  width: 300vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
}

.index-collabo-horizontal .index-collab-wrapper h2 {
  font-size: 50px;
  font-weight: 600;
  margin-left: 120px;
  /* margin-right: 50px; */
  font-family: 'Jost',sans-serif;
  text-wrap: nowrap;
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontaltext {
  padding-top: 350px;
}

.index-collabo-horizontal .index-collab-wrapper p {
  font-family: 'Jost',sans-serif;
  font-size: 50px;
  margin-left: 120px;
  font-weight: 600;
}

.index-collabo-horizontal .index-collab-wrapper p span {
  display: inline-block;
  border: 3px solid #fff;
  padding: 5px 10px;
  border-radius: 20px;
  transform: rotate(-5deg);
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 {
  display: flex;
  width: 100vw;
  gap: 40px;
  overflow: hidden;
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 img {
  margin-top: 100px;
  width: 420px;
  object-fit: cover;
  opacity: 0.6;
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 img:hover {
  transition: 0.8s;
  transform: scale(1.1);
  opacity: 1;
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .text {
  position: absolute;
  top: 35%;
  z-index: 999;
}

.index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .index-text-margin {
  padding-top: 60vh;
  margin-left: -80px;
}

/****** index product list ******/
.index-productlist-wrapper {
  width: 100%;
  height: 2550px;
}

.index-productlist-wrapper h2 {
  text-align: center;
  font-family: 'Jost',sans-serif;
  font-size: 70px;
  margin-top: 130px;
}

.index-productlist-wrapper .collection {
  width: 33vw;
  text-align: center;
  margin: 40px auto 0;
  font-family: 'pretendard',sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8rem;
}

.index-productlist-wrapper .index-productlist-container {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  gap: 5%;
  justify-content: center;
  margin-top: 115px;
}

.speakerimg {
  width: 40vw;
  height: 40vw;
  border-radius: 50px;
  overflow: hidden;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 a {
  text-align: center;
  display: block;
  line-height: 3;
  font-size: 30px;
  font-family: 'Jost',sans-serif;
  font-weight: 700;
}
.index-productlist-wrapper .index-productlist-container .index-product-list1 .productname {
  margin-top: 25px;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product {
  display: block;
  aspect-ratio: 1/1;
  width: 40vw;
  height: 40vw;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product img {
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product img:hover {
  transform: scale(1.3);
  transition: 2s;
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 {
  margin-top: 60px;
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 a {
  display: block;
  text-align: center;
  line-height: 3;
  font-size: 30px;
  font-family: 'Jost',sans-serif;
  font-weight: 700;
}
.index-productlist-wrapper .index-productlist-container .index-product-list2 .productname {
  margin-top: 25px;
}
.index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product {
  display: block;
  aspect-ratio: 1/1;
  width: 40vw;
  height: 40vw;
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product img {
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: bottom; */
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product .bag {
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product img:hover {
  transform: scale(1.3);
  transition: 2s;
}

.index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product .converse {
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

/****** index zoom in ******/
.zoom-in {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}
.zoom-in .logo {
  width: 60%;
  /* transition: transform 0.3s ease;  */
}
.slogan {
  text-align: center;
  font-family: "Pretendard", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  background-color: #0000C5;
  margin: 0 auto;
  height: 70vh; 
}
.slogan .slogan-wrapper {
  /* transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1); */
  opacity: 0.5;
}
.slogan .slogan-wrapper p {
  padding: 20px 0;
}
.slogan .slogan-wrapper p span {
  display: block;
}

/****** index 3d video ******/
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
.index-3d-video  {
  background-color: var(--color-main);
  padding: 10vh 0 50vh;
}
.index-3d-video .slide-wrapper {
  width: 100%;
  margin-bottom: 250px;
  padding: 10px 0;
  color: var(--color-w);
  font-weight: var(--weight-md);
  font-family: var(--primary-font-en);
  font-size: 60px;
  overflow: hidden;
  box-shadow: 0 0 20px var(--color-w);
}
.index-3d-video .slide-wrapper .slide-track {
  width: 300%;
  display: flex;
  animation: scroll 40s linear infinite;
}
.index-3d-video .slide-wrapper .slide-track p {
  text-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
}
.index-3d-video .container {
  margin: 100px auto;
  width: 400px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  transition: 0.3s;
}

.index-3d-video #carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}

.index-3d-video #carousel figure {
  display: block;
  position: absolute;
  width: 380px;
  height: 215px;
  left: 10px;
  top: 10px;
  overflow: hidden;
}

.index-3d-video #carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(550px);
}

.index-3d-video #carousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(550px);
}

.index-3d-video iframe {
  cursor: pointer;
  transition: all .5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/****** index maggzine ******/
.index-magazine {
  position: relative;
  padding: 0;
  overflow: hidden;
  margin-bottom: 200px;
}
.index-magazine .grid-img-wrapper img {
  vertical-align: middle;
  width: 100%;
}
.index-magazine .grid-img-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1.6fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
}
.index-magazine .grid-img-wrapper .img1 {
  height: 100%;
  object-fit: cover;
}
.index-magazine .grid-img-wrapper .img2 {
  z-index: 99999; 
  grid-column:2 /3 ;
  grid-row: 1 / 3;
}
.index-magazine .grid-img-wrapper .img3 {
  z-index: 999; 
  grid-column: 3/ 5;
  height: 100%;
  object-fit: cover;
}
.index-magazine .grid-img-wrapper .img4 {
  z-index: 99999;
}
.index-magazine .grid-img-wrapper .img5 {
  grid-column: 3/4;
  grid-row: 2/3;
  z-index: 99999;
}
.index-magazine .grid-img-wrapper .img6 {
  align-self: end;
  z-index: 99999;
}

.index-magazine .lSymbolLogo {
  position: absolute;
  bottom: -100px;
  left: 100px;
  transform: rotate(15deg);
  z-index: 999;
  width: 30vw;
}
.index-magazine .sSymbolLogo {
  z-index: 9999;
  position: absolute;
  bottom: 12vw;
  right: 3vw;
  transform: rotate(-20deg);
  width: 15vw;
  
}
.index-magazine .textLogo {
  position: absolute;
  bottom: 100px;
  right: 50px;
  z-index: 999999;
  width: 50vw;
}

@media screen and (max-width:1100px){
  /***** index product list *****/
  .index-productlist-wrapper {
    height: auto;
  }
  .index-productlist-wrapper .index-productlist-container {
    padding-bottom: 230px;
  }
  .index-productlist-wrapper .collection {
    width: auto;
    max-width: 500px;
    padding: 0 40px;
  }
  
  /****** index zoom in ******/
  .zoom-in {
    display: none;
  }
  .slogan {
    height: auto;
  }
  .slogan .slogan-wrapper {
    opacity: 1;
    padding: 120px 0 200px;
  }
  .slogan .slogan-wrapper p span {
    display: inline;
  }
  .slogan .slogan-wrapper p {
    padding: 0 40px;
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
  }
  /****** index 3d video ******/
  /* slide txt */
  .index-3d-video  {
    padding: 10vh 0 20vh;
  }
  .index-3d-video .slide-wrapper {
    width: 100%;
    margin-bottom: 100px;
    padding: 10px 0;
    color: var(--color-w);
    font-weight: var(--weight-lg);
    font-family: var(--primary-font-en);
    font-size: 60px;
    overflow: hidden;
    box-shadow: 0 0 15px var(--color-w);
  }
  .index-3d-video .slide-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .index-3d-video .slide-wrapper .slide-track {
    color: var(--color-w);
    font-size: var(--size-md);
  }
  .index-3d-video .slide-wrapper .slide-track p {
    color: var(--color-w);
    font-size: var(--size-md);
  }
  /* 3d video */
  .index-3d-video .container {
    width: 220px;
  }
  
  .index-3d-video #carousel figure {
    width: 200px;
    height: 113px;
  }
  
  .index-3d-video #carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
  }

  .index-3d-video #carousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
  }
  
  .index-3d-video #carousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
  }
}

@media screen and (max-width:430px){
  .index-main{
    overflow: hidden;
    height: 927px;
  }
  .index-main .youtube {
    width:2000px;
  }
  .index-main .index-main-text h2{
    font-size: 70px;
    top:10%;
    margin-left:20px;
  }
  .index-main .index-main-text p{
    font-size: 18px;
    width:350px;
  }
  .index-main .index-main-text p:first-of-type {
    top: 48%;
    left:20px;
  }
  .index-main .index-main-text p:last-of-type {
    top:65%;
    left:20px;
  }
   /****** index collaboration horizontal lookbook ******/

   .index-collab-wrapper {
    flex-direction: column;
    width:100vw;
    margin: 0;
    height: 100%;
  }
  .index-collabo-horizontal {
    position: relative;
  }
  .index-collabo-horizontal .index-collab-wrapper h2 {
    font-size: 20px;
    font-weight: 600;
    margin-left:0;
    margin-bottom: 5px;
    opacity: 0.8;
  }
  .index-collabo-horizontal .index-collab-wrapper p {
    font-size: 20px;
    margin-left: 0;
    opacity: 0.8;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontaltext {
    padding-top: 280px;
    position: absolute;
    z-index: 99999;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 {
    padding:20px;
    gap:25px;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .imgsmall{
    width: 100px;
    margin-top: 0px;
    opacity: 0.8;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .imgbig{
    width:163px;
    margin: 0;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .index-text-margin {
    display: none;
  }
  .index-collabo-horizontal .index-collab-wrapper .index-collabo-horizontalwrapper1 .text{
    display: none;
  }
  
  /***** index product list *****/
  .index-productlist-wrapper .collection {
    width: 100%;
  }
  .index-productlist-wrapper {
    height: auto;
  }
  .index-productlist-wrapper h2 {
    font-weight: 600;
    margin-top: 60px;
    font-size: 40px;
  }
  .index-productlist-wrapper .collection {
    margin: 40px 0; 
    width: auto;
  }
  .index-productlist-wrapper .index-productlist-container {
    margin: 0;
    display: block;
    padding-bottom: 0;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list1, .index-product-list2{
    width: 100%;
    padding: 0 20px;
  }
  .index-productlist-wrapper .speakerimg {
    width: 100%;
    height: 100%;
  } 
  .index-productlist-wrapper .index-productlist-container .index-product-list1 .index-product {
    width: 100%;
    height: 100%;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list2 .index-product {
    width: 100%;
    height: 100%;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list2 {
    margin: 0;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list1 .productname {
    margin: 0;
    margin-bottom: 40px;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list2 .productname {
    margin: 0;
    margin-bottom: 50px;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list2 a {
    font-size: 24px;
  }
  .index-productlist-wrapper .index-productlist-container .index-product-list1 a {
    font-size: 24px;
  }
  /****** index zoom in ******/
  .zoom-in {
    display: none;
  }
  .slogan {
    height: auto;
  }
  .slogan .slogan-wrapper {
    opacity: 1;
  }
  .slogan .slogan-wrapper p {
    padding: 0 40px;
    font-size: 18px;
  }
  .slogan .slogan-wrapper p span {
    display: inline;
  }
}
